.user-data-grid {
    display: grid;
    grid-template-columns:  3fr 4fr 4fr 5fr;
    grid-template-rows: auto;
    column-gap: 6px;
}

.user-data-grid-header-row {
    background-color: #666;
    padding: 3px 5px;
    color: #fff;
}

.user-data-grid-row {
    column-gap: 5px;
    padding: 3px 5px;
}

.user-data-grid-row:nth-child(odd) {
    background-color: #eee;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}



@media only screen and (max-width: 770px) {
    .user-data-grid-row {
        font-size: 0.8em;
    }

    .user-data-grid-header-row {
        font-size: 0.8em;
    }

}

@media only screen and (max-width: 470px) {

    .user-data-grid-header-row {
        max-width: 400px;
        font-size: 0.5em;
        grid-template-columns: 3fr 5fr 2fr 2fr 2fr;

    }

    .user-data-grid-row {
        max-width: 400px;
        font-size: 0.5em;
        grid-template-columns: 3fr 5fr 2fr 2fr 2fr;

    }

}
