.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.brand-div {
  height:60px;
  padding: 15px 40px 20px 40px;
  text-align:left;
}

.brand-image {
  height: 100%;
}

.login-widget {
  position:absolute;
  display:flex;
  height:60px;
  right:0px;
  top:0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 575px) {
  
  .brand-div {
    padding: 15px 40px 20px 30px;
  }

}

@media only screen and (max-width: 440px) {
  
  .brand-div {
    padding: 16.5px 40px 22px 20px;
  }

}

@media only screen and (max-width: 440px) {
  
  .brand-div {
    padding: 14px 40px 28px 20px;
  }

}

@media only screen and (max-width: 360px) {
  
  .login-widget {
    position:relative;
    display:flex;
    height:auto;
    margin-top: -10px;
    margin-left: -2px;
    margin-bottom: 10px;
    left:0px;
  }

}

