.App {
  text-align: center;
  position: relative;
}

select {
  background-color: #fff;
  -webkit-appearance:none!important;
}

option {
  background-color: #fff;
  -webkit-appearance:none!important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#all-data-page, 
#withdraw-page,
#deposit-page,
#user-data-page {
  min-height: 44vh;
}

.App-link {
  color: #61dafb;
}

.brand-div {
  height:63px;
  padding: 30px 40px 5px 23px;
  text-align:left;
}

.brand-image {
  height: 100%;
}

.login-widget {
  display:flex;
  flex-wrap: nowrap;
  right:0px;
  top:0px;
  margin: 0px;
}

.login-name {
  padding: 2px 10px; 
  border-right: 1px solid #ccc;
}

.home-splash {
  min-height: 500px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

#home-page {
  margin: 10px;
  flex-shrink: 1;
  flex-grow: 1;
}

#sign-in-card {
  margin: 10px;
  flex-shrink: 0;
  min-width: 480px;
  background-color: rgb(220, 20, 49);
  width: 270px;
  flex-grow: 0;
  border-radius: 0px;
  height: max-content;
}

#sign-in-card .mobile-options {
  display: none;
}

.mobile-nav-widget {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1024px) {
  .brand-div {
    margin-bottom: 10px;
    height: 80px;
  }
  .mobile-menu {
    width: 100vw;
  }
  #anonymous-navigation {
    display: none;
  }
  .top-ribbon {
    display: none!important;
  }
  #sign-in-card {
    position: absolute;
    margin: 0px -11px;
    overflow: hidden;
    width: calc(100vw + 2px);
    max-width: calc(100vw + 2px);
    min-width: calc(100vw + 2px);
    z-index: 9999;
    height: 0;
    background-color: rgb(242, 242, 242);
    border: none;
  }
  #sign-in-card form {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
  }
  #sign-in-card .field-name {
    display: none;
  }
  #sign-in-card form .buttons {
    max-width: 180px;
  }
  #sign-in-card form button {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 10px!important;
    margin-top: -6px;
  }

  #sign-in-card form input {
    border: 1px solid #ccc;
  }
  .expanded #sign-in-card {
    height: fit-content;
    max-height: 500px;
  }
  #sign-in-card .mobile-options {
    display: block;
  }
  #sign-in-card .desktop-options {
    display: none;
  }
  .mobile-nav-widget {
    display: flex;
    position: absolute;
    right: 20px;
    top: 40px;
    align-items: center;
    color: rgb(220, 20, 49);
  }
  .close-icon, .open-icon {
    cursor: pointer;
    color:rgb(220, 20, 49);
  }
  .mobile-nav-widget .close-icon {
    display: none;
  }
  .mobile-nav-widget .expanded .close-icon {
    display: block;
  }
  .mobile-nav-widget .open-icon {
    display: block;
  }
  .mobile-nav-widget .expanded .open-icon {
    display: none;
  }
  .mobile-menu.expanded {
    display: block;
  }
  .mobile-menu {
    display: none;
  }
  .mobile-menu .search-bar, .mobile-menu .menu-items {
    background-color: rgb(242, 242, 242);
    padding: 8px;
    width: 100vw;
    margin: 0px -10px;
    border-top: 1px solid #ccc;
  }
  .mobile-menu .search-bar input {
    margin-right: 16px;
    padding: 8px;
    width: 40vw;
    min-width: 250px;
  }
  .mobile-menu .search-bar button {
    color: #012169;
    outline: 1px solid #012169;
    border: 1px solid #fff;
    border-radius: 100px;
    background-color: #fff;
    font-size: 1.15rem;
    font-weight: 600;
    padding: 6px 24px;
    cursor: pointer
  }
  .mobile-menu .search-bar button:hover {
    background-color: #012169;
    color: #fff;
  }
  .mobile-menu .menu-items {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 15%;
    justify-content: space-between;
  }
  .mobile-menu .menu-items div {
    min-width: 300px;
    text-align: left;
    padding: 8px 0px;
  }
}

@media only screen and (max-width: 991px) {
  .home-splash {
    flex-wrap: wrap;
  }
}



@media only screen and (max-width: 680px) {
  
  .login-widget {
    position:relative;
    display:flex;
    height:auto;
    margin-top: -10px;
    margin-bottom: 10px;
    left:0px;
    padding-left: 18px;
  }

  #all-data-page, 
  #withdraw-page,
  #deposit-page,
  #user-data-page  {
    min-height: 34vh;
  }

  .home-splash {
    flex-wrap: wrap;
  }
  
}

@media only screen and (max-width: 575px) {
  
  .brand-div {
    padding: 15px 25px 20px 25px;
  }

  .login-widget {
    padding-left: 5px;
  }

  #sign-in-card {
    max-width: 100%;
    min-width: 200px;
    flex-shrink: 1;
  }

  #sign-in {
    padding: 10px;
  }

}

@media only screen and (max-width: 447px) {
  
  .brand-div {
    padding: 16.5px 40px 22px 20px;
  }

  .login-widget {
    padding-left: 0px;
  }

  #all-data-page, 
  #withdraw-page,
  #deposit-page,
  #user-data-page  {
    min-height: 33vh;
  }

  .form-formik, .react-final, .react-hook {
    min-width: 200px !important;
  }

}

@media only screen and (max-width: 350px) {
  
  .brand-div {
    padding: 14px 40px 28px 20px;
  }
  
  .login-widget {
    margin-left: -2px;
  }

  .login-name {
    font-size: 0.7rem;
  }

  .login-link {
    font-size: 0.7rem;
  }

  .language-toggle {
      font-size: 0.7rem;
  }

  #all-data-page, 
  #withdraw-page,
  #deposit-page,
  #user-data-page  {
    min-height: 30vh;
  }

  .input-container {
    min-width: 200px !important;
  }

}


