.App {
  text-align: center;
  position: relative;
}

select {
  background-color: #fff;
  -webkit-appearance:none!important;
}

option {
  background-color: #fff;
  -webkit-appearance:none!important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#all-data-page, 
#withdraw-page,
#deposit-page,
#user-data-page {
  min-height: 44vh;
}

.App-link {
  color: #61dafb;
}

.brand-div {
  height:60px;
  padding: 15px 40px 20px 40px;
  text-align:left;
}

.brand-image {
  height: 100%;
}

.login-widget {
  position:absolute;
  display:flex;
  height:60px;
  right:0px;
  top:0px;
  padding-right: 40px;
}

.login-name {
  padding: 2px 10px; 
  border-right: 1px solid #ccc;
}

.home-splash {
  display: flex;
  flex-wrap: nowrap;
}

#home-page {
  margin: 10px;
  flex-shrink: 1;
  flex-grow: 1;
}

#sign-in-card {
  margin: 10px;
  flex-shrink: 0;
  flex-grow: 1;
  min-width: 480px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 991px) {
  .home-splash {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 767px) {
  #sign-in-card {
    max-width: 400px;
  }
}

@media only screen and (max-width: 680px) {
  
  .login-widget {
    position:relative;
    display:flex;
    height:auto;
    margin-top: -10px;
    margin-bottom: 10px;
    left:0px;
    padding-left: 18px;
  }

  #all-data-page, 
  #withdraw-page,
  #deposit-page,
  #user-data-page  {
    min-height: 34vh;
  }

  .home-splash {
    flex-wrap: wrap;
  }
  
}

@media only screen and (max-width: 575px) {
  
  .brand-div {
    padding: 15px 25px 20px 25px;
  }

  .login-widget {
    padding-left: 5px;
  }

  #sign-in-card {
    min-width: 300px;
    max-width: 515px;
  }

  #sign-in {
    padding: 10px;
  }

}

@media only screen and (max-width: 447px) {
  
  .brand-div {
    padding: 16.5px 40px 22px 20px;
  }

  .login-widget {
    padding-left: 0px;
  }

  #all-data-page, 
  #withdraw-page,
  #deposit-page,
  #user-data-page  {
    min-height: 33vh;
  }

  #sign-in-card {
    min-width: 200px;
    max-width: 385px;
  }

  #sign-in .input-container {
    min-width: 200px !important;
    max-width: 385px;
  }

  #sign-in .buttons {
    min-width: 200px;
    max-width: 385px;
  }

  .form-formik, .react-final, .react-hook {
    min-width: 200px !important;
  }

}

@media only screen and (max-width: 350px) {
  
  .brand-div {
    padding: 14px 40px 28px 20px;
  }
  
  .login-widget {
    margin-left: -2px;
  }

  .login-name {
    font-size: 0.7rem;
  }

  .login-link {
    font-size: 0.7rem;
  }

  .language-toggle {
      font-size: 0.7rem;
  }

  #all-data-page, 
  #withdraw-page,
  #deposit-page,
  #user-data-page  {
    min-height: 30vh;
  }

  #sign-in-card {
    min-width: 200px;
  }

  #sign {
    max-width: 200px;
  }

}


