.form-formik {
    min-width: 375px;
    padding: 10px 30px;
}

.form-formik .input-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
}

.form-formik .input-container .field-name {
    margin-right: 10px;
    width: 70px;
    flex-grow: 1;
    text-align: left;
}

.form-formik .input-container .input-lockup {
    flex-grow: 4;
    width: 250px;
    position: relative;
}

.form-formik .input-container input {
    width: 100%;
}

.form-formik .input-container input:focus {
    outline-color: green;
}

.form-formik .input-container .error {
    position: absolute;
    right: 0px;
    top: 0px;
    color: red;
    font-size: 0.75em;
    font-weight: 500;
    flex-grow: 4;
    text-align: right;
    top: -18px;
    display: none;
}

.form-formik .input-container:focus-within .error {
    display: block;
}

.form-formik .buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-items: right;
    justify-content: right;
    padding: 10px;
    width: 100%;
}

.form-formik .button-container {
    flex-grow: 0;
    flex-shrink: 0;
}

.form-formik .button-buffer {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
}