.form-formik {
    min-width: calc(260px - 2rem);
    height: fit-content;
    padding: 5px 0px;
}

input:-internal-direct-focus {
    outline-color:rgba(0, 128, 0, 0.5);
}

.form-formik .input-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    width: calc(100% + 8px);
    margin-top: -16px;
    margin-right: -4px;
    margin-left: -4px;
}

.form-formik .input-container .field-name {
    margin-right: 10px;
    width: 80px;
    min-width: 90px;
    flex-grow: 1;
    text-align: left;
}

.form-formik .input-container .input-lockup {
    flex-grow: 4;
    position: relative;
}

.form-formik .input-container input {
    width: 100%;
    min-width: 120px;
    padding: 8px 5px;
    margin-bottom: 5px;
}

.input-error:focus {
    outline: 5px auto rgba(255, 0, 0, 0.6);
}

.input-visible-error {
    outline: 5px auto rgba(255, 0, 0, 0.6);
}

.input-noerror:focus {
    outline: 5px auto rgba(0, 128, 0, 0.6);
}

.input-visible-noerror {
    outline: 5px auto rgba(0, 128, 0, 0.6);
}

.form-formik .input-container .error {
    position: absolute;
    right: 0px;
    top: 0px;
    color: red;
    font-size: 0.75em;
    font-weight: 500;
    flex-grow: 4;
    text-align: right;
    top: -18px;
    display: none;
}

.form-formik .input-container:focus-within .error {
    display: block;
}

.form-formik .buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-items: right;
    justify-content: right;
    padding: 0px 10px;
    width: 100%;
}

.form-formik .button-container {
    flex-grow: 0;
    flex-shrink: 0;
}

.form-formik .button-buffer {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
}

.form-formik button {
    padding: 4px 10px!important;
}

@media only screen and (max-width: 767px) {
    .form-formik .input-container .error {
        white-space: nowrap;
        font-size: 0.6em;
        top: -14px;
    }
}

@media only screen and (max-width: 418px) {

    .form-formik {
        min-width: 240px;
    }

    .form-formik .input-container {
        min-width: 240px;
    }

    .form-formik .input-container .error {
        position: absolute;
        top: 30px;
        font-size: 0.6em;
    }
}
